.homie/manifest.toml

# Local/generated state
.cache/
.config/herdr/*.log
.config/herdr/release-notes.json
.config/herdr/session.json
/.config/herdr/plugins/
/.config/herdr/plugins.json
.local/state/
.zcompdump
Library/Caches/
nvim.log
